/* header */
nav input.form-control::placeholder {
    color: grey;
}
/* tabella */
.box-icona {
    height: 30px;
    width: 30px;
    padding: 2px 2px;
    border: 1px solid #6b757d;
    border-radius:5px;
    color: #6b757d;
}

th:nth-child(2),
td:nth-child(2) {
    display: none;
}


