/* custom properties */
:root {

}

/* header */
nav input.form-control::placeholder {
    color: grey;
}
#catalogo {
    min-height: 80px;
}
#opzioni {
    /* min-height: 500px; */
}
/* tabella */
.box-icona {
    height: 30px;
    width: 30px;
    padding: 2px 2px;
    border: 1px solid #6b757d;
    border-radius:5px;
    color: #6b757d;
}
.colonna {
    height: 80px;
    border: 1px dashed red;
}
