/* custom properties */
:root {

}

/* header */
header {
    height: 80px;
    background-color: goldenrod;
}
#catalogo {
    height: 80px;
    background-color: aliceblue;
}
#opzioni {
    height: 500px;
    background-color: lightcoral;
}
.riga {
    /* height: 100px; */
}
.colonna {
    height: 50px;
    border: 1px dashed red;
}
